body {
    
    font-family: 'Eczar', serif;
    background-color: #F1F0DE;
}

.content h3, .content h2, .content h1,
#sidebar h3, #sidebar h2, #sidebar h1 {
    color: #545D62;
    font-weight:600;
    
}

#sidebar {
    padding: 0.5em;
    background-color: #545D62;
    border-radius: 1em;
    color: #F1F0DE;
    color: #F794A8;
    font-size: 1.2em;
    padding-top: 1em;
}

#sidebar h3 {
    font-size: 1.2em;
    color: #F1F0DE;
    line-height: 1em;
    padding-bottom: 0.7em;
}

#sidebar ul {
    list-style-type: circle;
    padding-bottom: 0.5em;
}

#sidebar li {
    margin-left: 40px;
}

.content p {
    font-size: 120%;
}

.content p .hilite {
    color: #EF7246;
    font-weight: 600;
}

.navbar.is-primary {
    background-color: #EF7246;
    color: #545D62;
    font-weight: 900;
} 

.navbar.is-primary .navbar-start>.navbar-item, 
.navbar.is-primary .navbar-start .navbar-link, 
.navbar.is-primary .navbar-end>.navbar-item, 
.navbar.is-primary .navbar-end .navbar-link,
.navbar-brand
 {
    color: #545D62;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar.is-primary

.testeroo {
    font-size: 3em;
}